.wfm-generator-container {
    max-width: 800px;
    margin-top: 20px;
}

.wfm-input-section, .wfm-settings-section, #wfm-results-section {
    background: #fff;
    padding: 20px;
    border: 1px solid #ccd0d4;
    box-shadow: 0 1px 1px rgba(0,0,0,.04);
    margin-bottom: 20px;
}

.wfm-page-list label {
    margin-bottom: 5px;
}
